body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: satoshi;
  src: url('../src/assets/fonts/Satoshi-Variable.ttf');
}

body {
  margin: 0;
  font-family: satoshi;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
